<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

 <!-- First include jquery js -->
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Then include bootstrap js -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <title>My Node App</title>
</head>

<body>
  
  <h1>My Node App</h1>
  <form method="post" action="/item/add">
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <input type="submit" value="Add">
  </form>
  <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="todolist not-done">
             <h4>Items:</h4>
             <ul id="sortable" class="list-unstyled">
              <% items.forEach(function(item) { %>
             <li class="ui-state-default">
              <div class="checkbox">
                  <label> <%= item.name %></label>

              </div>
          </li>
          <% }); %>

          </ul>
          </div>
          </div>
  
</body>

</html>